.log-in-container {
    height: 80vh;
    max-height: 360px;
    width: 80vw;
    max-width: 600px;
    margin: auto;
  }

  .container {
    width: 80vw;
    max-width: 800px;
    margin: auto;
  }

  .inline {
    display: inline-block;
  }